mat-expansion-panel mat-expansion-panel-header{
    color:white; 
}


mat-expansion-panel-header:hover, mat-expansion-panel-header:focus{
    background: coral !important;
}

mat-expansion-panel-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding:5px 10px;
    color:white !important;
}

.faqanswer{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: bold;
}

.headings{
    border-bottom: 2px solid coral;
    display: inline-block;
}