<div class="container page">
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-2 mb-4">
            <div class="headings mb-5 pb-2 pr-5">
                <div class="pageheadinglight">
                    About
                </div>
                <div class="pagesubheading">

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row row justify-content-between">
                <div class="col-md-4  m-2 col-sm-12">
                    <div class="profile">

                    </div>
                    <div class="name">
                        Akash Malhotra
                    </div>
                </div>
                <div class="col-md-7 m-2 col-sm-12">
                    <div class="content">
                        Akash is a passionate landscape and wedding photographer who started his photography journey in 2012 with his basic camera setup. 
                        He started to experiment with different genres and his travels led him to discover new things everyday 
                        and blah blah blah. He believes that his work should speak for him instead of a paragraph that he wrote 
                        in third person form. But, If you still wanna read, this is what you need to know : I'm no award winning, 
                        gallery featured, insta-famous photographer. I do it for myself. It's an in-expressible feeling to 
                        see my clicked shots on someone's wall giving them lifetime of memories. I make sure to connect to 
                        people on a personal level and I don't hurry any stuff. Good Quality requires Good amount of Time and 
                        I 100% agree to that. I take one shoot per day Max. Be it a 2 hour event or a whole 10 hour wedding. 
                        I think that's the reason I've never lost a client. You can count on my Punctuality, Attention to detail 
                        and Honesty to make sure that you're making a right decision. So, I guess I'll see you in the field and 
                        we'll talk more about ourselves :)
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>