<div class="container page">
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-2 mb-4">
            <div class="headings mb-5 pb-2 pr-5">
                <div class="pageheadinglight">
                    About
                </div>
                <div class="pagesubheading">

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row row justify-content-between">
                <div class="col-md-4  m-2 col-sm-12">
                    <div class="profile">

                    </div>
                    <div class="name">
                        Akash Malhotra
                    </div>
                </div>
                <div class="col-md-7 m-2 col-sm-12">
                    <div class="content">
                        I'm no award winning, gallery featured, insta-famous photographer. 
                        I started photography for myself, for my need to be creative which went all the way to me
                         doing it professionally. It's an in-expressible feeling to see my clicked shots on someone's 
                         wall giving them lifetime of memories. I make sure to connect to  people on a personal level and 
                         I don't hurry any stuff. Good Quality requires Good amount of Time and I agree with that. I take 
                         one shoot per day Max. Be it a 2 hour event or a whole 10 hour wedding. This is the reason why I 
                         get repeat clients. You can count on my Punctuality, Attention to detail and Honesty to make sure 
                         that you're making a right decision. So, I guess I'll see you in the field and we'll talk more 
                         about ourselves :)
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>