<div class="container page">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="headings mt-4 mb-5 pb-2">
                <div class="pageheadinglight">
                    Let's Start Your Wonderful Journey Together
                </div>
                <div class="pagesubheading">
                    Hit me up on Instagram or fill up the form and let me get back to you on first priority
                </div>
            </div>
            <div class="form">

                <div class="fieldDiv">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Input</mat-label>
                        <input matInput type="date">
                    </mat-form-field>
                </div>
                <div class="fieldDiv">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Select</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="fieldDiv">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Textarea</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>


                <button mat-fab color="warn"><mat-icon>send</mat-icon></button>


            </div>
        </div>
    </div>
</div>