<mat-sidenav-container [hasBackdrop]="true" class="navcontainer">



    <mat-sidenav class="sidebar" #nav mode='push' position="end">
        Start
    </mat-sidenav>
    <!-- <mat-sidenav position="end">End</mat-sidenav> -->



    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <mat-toolbar-row>
                <div class="brand" routerLink="/home">
                    <!-- <img src="../assets/resImages/logo.ico" height="60" style="display: inline-block" /> -->
                    <p>Akash<br />Malhotra</p>
                </div>
                <div class="spacer"></div>
                <div class="menuHolder" *ngIf="!isMobile">

                    <mat-menu #portFolioMenu="matMenu">
                        <button mat-menu-item disableRipple routerLink="/weddings">Weddings</button>
                        <button mat-menu-item disableRipple routerLink="/engagements">Engagements</button>
                        <button mat-menu-item disableRipple routerLink="/corporate">Corporate</button>
                        <button mat-menu-item disableRipple routerLink="/landscapes">Landscapes</button>
                    </mat-menu>

                    <mat-menu #infoMenu="matMenu">
                        <button mat-menu-item disableRipple routerLink="/investment">Investment</button>
                        <button mat-menu-item disableRipple routerLink="/process">Working Process</button>
                        <button mat-menu-item disableRipple routerLink="/about">About Us</button>
                        <button mat-menu-item disableRipple routerLink="/faq">F.A.Q s</button>
                    </mat-menu>

                    <button mat-button class="menuBtn" disableRipple [matMenuTriggerFor]="portFolioMenu">
                        Portfolio
                    </button>
                    <button mat-button class="menuBtn" disableRipple [matMenuTriggerFor]="infoMenu">
                        Information
                    </button>
                    <button mat-button class="menuBtn" disableRipple routerLink="/learn">
                        Learn
                    </button>
                    <button mat-button class="menuBtn" disableRipple  routerLink="/contact">
                        Contact
                    </button>
                </div>
                <div class="ham" *ngIf="isMobile" (click)="nav.toggle()"><i class="material-icons">menu</i></div>
            </mat-toolbar-row>
        </mat-toolbar>


        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>