mat-toolbar-row{
    display: flex;
    height:100px;
    background-color: white;
}


.menuLinkSide{
    width: 100%;
    text-align: justify;
}

.menuLinkSide span{
    padding:0 10px;
}

.subMenuLinkSide{
    width: 100%;
    text-align: left;
    padding-left: 40px;
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2px;
}


.caretLocation{
    position: absolute;
    right:15px;
    top:7px;
}

.brand, .brand p{
    padding: 5px 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1em;
}

.brand{
    cursor: pointer;
}

.ham{
    padding: 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.spacer{
    display: inline-block;
    flex: 1 1 auto;
}

.sidebar{
    background-color: white;
    width:180px;
}

.navcontainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.menuHolder{
    padding: 20px;
}


.menuBtn:hover,button[mat-menu-item]:hover, .menuLinkSide:hover, .menuLinkSide:active, .subMenuLinkSide:hover, .subMenuLinkSide:active{
    background-color: coral;
    color:white;
    transition: all 0.4s ease;
}

.footRow{
    margin-top: 25px;
    padding-bottom: 5px;
    box-shadow: 0px -2px 4px lightgray;
}

.light{
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
}
