<div class="container-fluid">
    <div class="row large">
        <div class="bg-image img0"></div>
    </div>

    <div class="row">
        <div class="bg-image img2"></div>
        <div class="bg-image img3"></div>
    </div>
    <div class="row large">
        <div class="bg-image img1"></div>
    </div>
    <div class="row">
        <div class="bg-image img4"></div>
        <div class="bg-image img5"></div>
    </div>
    <div class="row large">
        <div class="bg-image img6"></div>
    </div>
    <div class="bg-text">
        <div>
            <p>Moments that Live</p>
            <p>Forever</p>
        </div>
    </div>


</div>