.bg-image {
    height: 500px;
    /* width: 500px; */
    flex:1;
    /* width: 100%; */
    margin: 10px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 10px;
}

.row{
    background-color: white;
}


/* Images used */

.img0 {
    background-image: url("../../assets/galleryimgs/home/0.jpg");
    background-position: center 25%;
} 

.img1 {
    background-image: url("../../assets/galleryimgs/home/1.jpg");
    background-position: center 65%;
}

.img2 {
    background-image: url("../../assets/galleryimgs/home/3.jpg");
    background-position: center;
}

.img3 {
    background-image: url("../../assets/galleryimgs/home/4.jpg");
    background-position: 30% ;
}

.img4 {
    background-image: url("../../assets/galleryimgs/home/5.jpg");
    background-position: center 30%;
}

.img5 {
    background-image: url("../../assets/galleryimgs/home/6.jpg");
    background-position: center 35%;
}

.img6 {
    background-image: url("../../assets/galleryimgs/home/7.jpg");
    background-position: center 20%;
}

/* Position text in the middle of the page/image */

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: 600;
    font-size: 1.7em;
    border: 7px solid #f1f1f1;
    position: fixed;
    /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    height: 120px;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    display: flex;
    align-items: center;
}

.bg-text>div{
    flex:1;
}
.bg-text>div>p{
    display: block;
}
.bg-text>div>p:nth-child(2){
    font-size: 2em;
}




@media only screen and (max-width: 768px) {
    .bg-image {
        height: 250px;
    }
  }